*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');


body{
    font-family: 'Open Sans', sans-serif;
}
img{
    max-width: 100%;

}

button:hover{
    cursor: pointer;
}

.fa-check{
    color: #0061FF;
}

header a:hover{
    border-bottom: black 2px solid;
}

.tutto:hover .hove{
    display: inline-block;
}

.conta:hover{
    background-color: #347ff8;
}

.pico:hover{
    background-color: #347ff8;
}

.partner:hover{
    background-color: rgb(247, 247, 247);
}
/* header */

header{
    position: fixed;
    display: flex;
    height: 70px;
    width: 100%;
    z-index: 78;
    background-color: #fff;
}

.left{
    width: 50%;
}

.upi{
    display: flex;
    align-items: center;
    gap: 30px;
    margin: 0 2vw;
}

.right{
    display: flex;
    width: 50%;
    justify-content: flex-end;
}


ul{ 
    gap: 1vw;
    display: flex;
}

header li{
    display: flex;
    list-style-type: none;
    height: 70px;
    align-items: center;
    padding: 0 2vw;
}

header a{
    display: flex;
    height: 70px;
    align-items: center;
    color: black;
}

li{
    list-style-type: none;
}


a{
    text-decoration: none;
}

.pico{
    background-color: #0061FF;
    border-radius: none;
    border: none;
    padding: .5vw 2vw;
    color: #fff;
}

/* /header */
/* head */
.head{
    position: relative;
    width: 100%;
    height: 40vw;
    background-color: #B4D0E7;
}

.con{
    width: 80%;
    position: relative;
    left: 10%;
    top: 8vw;
}

.tittle{
    width: 100%;
    font-size: 1.7vw;
    padding-right: 3%;
    padding-bottom: 2%;
}

.cont{
    justify-content: space-between;
    display: flex;
    width: 100%;
}

.text{
    
    width: 38%;
    font-size: 1vw;
}

.pic{
    width: 60%;
    color: #61082B;
    
}

.space{
    margin-bottom: 3vw;
}

.space-top{
    margin-top: 3vw;
}

#flec{
    font-size: 2.5vw;
}
/* /head */
/* main */

main{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

h2{
    font-weight: 700;
    font-size: 2vw;
}

section{
    width: 70%;
    margin-top: 80px;
}

input{
    display: inline-block;
}

div.check{
    margin-top: 2vw;
    font-weight:700;
    display: flex;
    gap: 4px;
}

span.prezzi{
    font-weight: bolder;
}

.up{
    position: relative;
    width: 100%;
    line-height: 3vw;
    font-size: 1vw;
    margin-top: 3vw;
}

.conta{
    width: 17vw;
    padding: .5vw;
    border-radius: 0%;
    color: #fff;
    background-color: #0061FF;
    border: none;
    font-size: 1vw;
}

.per{
    margin: 1.5vw 0;
}

.colu{
    position: relative;
    display: flex;
    gap: 30px;
    width: 100%;
    height: 100%;

}

.te{
    display: flex;
    border: 1px #d7d7d8 solid;
    width: calc(100% / 3);
    flex-direction: column;
    align-items: center;
    font-size: 1vw;
    margin-top: 2vw;
}

.ajus{
    display: flex;
    align-items: baseline;
    gap: .3vw;
}

.ti{
    padding: .3vw;
    border-bottom: 1px #d7d7d8 solid;
    width: 100%;
    text-align: center;
}

.des{
    padding-top: 2vw;
    width: 80%;
}

.drop{
    display: flex;
}

.bor{
    width: 15%;
    height: 10px;
    border-bottom: 1px #d7d7d8 solid;
}

ul.check{
    flex-direction: column;
    margin: 2vw 0;
}

.sopra{
    line-height: 2;
}

.sotto{
    margin-top: 1vw;
}
#espa{
    margin-top: 2vw;
}
.ente{
    position: relative;
    padding: .8vw;
}
.ven{
    position: absolute;
    top: 15%;
    right: 2%;
}

.gra{
    border: 1px #d7d7d8 solid;
}

/* second section */

.centre{
    line-height: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding-left: 5vh;
}

.partner{
    border: black 1px solid;
    padding: .6vw;
    color: black;
}

.tre{
    margin-top: 2vw;
    display: flex;
    
}

.passa{
    padding: 30px;
    width: calc(100% / 3);
    font-size: 1vw;
}

/* designit */

.desi{
    margin-top: 50px;
    display: flex;
    width: 100%;
}
.pu{
    width: calc(100% / 3);
    height: 100%;
    font-size: 1vw;
}

.sopr{
    width: 70%;
}

.paddi{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3vw;
    color: #fff;
}

.cent{
    padding: 2vw;
    height: 18vw;
    background-color: #F5F5F5;
}

.arri{
    display: flex;
    height: 9vw;
    width: 100%;
}

.abaj{
    display: flex;
    width: 100%;
    height: 9vw;
}

.rivert{
    filter: invert(100%);
}

.gree{
    background-color: #A2D39B;
}

.viol{
    background-color: #61082B;
}

.bli{
    background-color: #0093CE;
}

.red{
    background-color: #FF1C1C;
}
.cie{
    background-color: #B4D0E7;
}

.rey{
    background-color: #0D2481;
}

.yell{
    background-color: #FFD830;
}

.blue{
    display: flex;
    width: 100%;
    justify-content: center;
}

.porta{
    display: flex;
    width: 70%;
    justify-content: center;
}

.kil{
    display: flex;
    font-size: 1vw;
    align-items: center;
    justify-content: center;
    padding: 4vw 0vw;
}

.wer{
    background-color: #fff;
    padding: .4vw 1.6vw;
    border: none;
    color: black;
}

.domande{
    font-size: 1.3vw;
    margin-bottom: 5vw;
}
.sec{
    padding: 3vw 0;
    border-bottom: 1px solid black;
}

.tutto{
    border-bottom: 1px solid black;
}

.busi{
    display: flex;
    padding: 2vw 0;
    gap: 18vw;
}

.hove{
    display: none;
    font-size: 1vw;
    margin-bottom: 2vw;
}

/* /designit */

/* footer */

.fut{
    flex-direction: column;
    color: #fff;
    gap: 1vw;
    font-size: 1.2vw;
    width: 8vw;
}

.white{
    color: #fff;
}

.lo{
    margin-bottom: 1.5vw;
    font-size: 1.5vw;
}

footer{
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 20px;
    background-color: black;
}

.fot{
    width: 80%;
    height: 100%;
    margin-top: 5vw;
}

.si{
    display: flex;
    width: 100%;
    gap: 9vw;
}

.no{
    height: 30%;
    width: 100%;
}

.colo{
    width: calc(100% / 5);
    height: 100%;
    color: #fff;
}

.xd{
    margin-top: 5vw;
    border-top: #fff 1px solid;
    padding: 3vw 0;
    font-size: 1vw;
    color: #fff;
    width: 7vw;
}









